* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FAEBD0;
    overflow: hidden;
    padding: 3em;
    min-width: fit-content;
    position: relative;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.logo-pusheen {
    height: 30px;
    width: 50px;
    position: relative;
    top: 5%;
}
.logo h2 {
    font-size: 20px;
    margin: 0.35em 3em;
    position: absolute;
    justify-content: center;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blurb h1 {
    align-items: center;
    width: 58%;
    font-size: 45px;
    text-align: left;
    margin: 1em;
    padding-top: 0.5em;
    float: left;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.food-level {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 55px;
    margin: 1em 12em 1em 18em;
}

.sleep-level {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 55px;
}

.play-level {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 55px;
}

span {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 55px;
    width: 45%;
    font-size: 35px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#food {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    color: #675A4F;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
}
#food:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}


#sleep {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 43%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
    color: #675A4F;
}
#sleep:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}

#play {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
    color: #675A4F;
}
#play:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}

.food-level {
    margin: 0
}

#food-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sleep-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#play-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resume {
    width: 75px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    position: absolute;
    top: 5%;
    left: 87%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    color: #B9A492;
    transition: ease-out 0.3s;
    z-index: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#resume:hover {
    color:#675A4F;
    box-shadow: inset 75px 0 0 0 #C9E8F0;
    cursor: pointer;
}
#resume:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
}
#resume:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
}

#pause {
    width: 75px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    position: absolute;
    top: 5%;
    left: 93%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    transition: ease-out 0.3s;
    cursor: pointer;
    color: #B9A492;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pause:hover {
    color:#675A4F;
    box-shadow: inset 75px 0 0 0 #C9E8F0;
    cursor: pointer;
}
#pause:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
}
#pause:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
}

#display-image {
    width: 20px;
}
.pusheen-heart {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 20%;
}

.name-modal {
    height: 100%;
    top: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
.name-control {
    padding: 1rem;
    top: 25%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
button.btn-enter {
    font: inherit;
    border-radius: 25px;
    position: absolute;
    background: transparent;
    border: 2px solid #521751;
    padding: 0.5rem 1rem;
    color: #521751;
    cursor: pointer;
    top: 5.5%;
    left: 75%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
   
button.btn-enter:hover,
button.btn-enter:active {
    border-color: #e0ceeb;
    color: #521751;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
   
   /*  The Modal */
   
.name {
    display: none;
    position: fixed;
    border-radius: 25px;
    z-index: 200;
    top: 40%;
    left: 40%;
    width: 20%;
    background: #e0ceeb;
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0, .4);
    box-shadow: 1px 1px 6px rgba(0,0,0, .4);
    padding: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
.name h1 { 
    color: 521751;
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
.name-input {
    margin: 0.5rem 0;
    border-radius: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
.name-input textarea {
    width: 100%;
    font: inherit;
    border-radius: 25px;
    text-align: center;
    resize: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
   
.name-input textarea:focus{
    outline: none;
    background: #E8F5F9;
    border-color: #521751;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
     
button.btn-cancel:hover,
button.btn-cancel:active {
    color: #675A4F;
    background: #fad0cb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   
button.btn-confirm{
    border-color: #ddf1d4;
    color: #675A4F;
    font: inherit;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #521751;
    padding: 0.5rem 1rem;
    cursor: pointer;
    top: 25%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
   
   
.name-actions{
    text-align: center;
   }
   
button.btn-cancel{
    border-color: #fad0cb;
    color: #675A4F;
    font: inherit;
    border-radius: 12px;
    background: transparent;
    border: 1px solid #521751;
    padding: 0.5rem 1rem;
    color: #521751;
    cursor: pointer;
    top: 25%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
button.btn-confirm:hover,
   button.btn-confirm:active{
    color: #675A4F;
    background: #ddf1d4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
   
button.btn-comfirm:active {
    color: #675A4F;
    background: #ddf1d4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
.backdrop {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .5);
    z-index: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
.open {
    display: block;
}

section.active .end-btn {
    display: none;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: 200ms ease-in-out;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: rgba(0,0,0, .3);
    margin: 0
}


section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.end-modal-box {
    background-color: #d5ebce;
    opacity: 0;
    pointer-events: none;
    max-width: 380px;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    transition: all 0.3s ease;
}

section.active .end-modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.end-modal-box h2 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.end-modal-box p {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img.pusheen-sad {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 45%;
}

.end-modal-box .end-box-btn{
    margin-top: 25px;
}

.end-modal-box .close-btn {
    position: absolute;
    align-items: center;
    top: 0%;
    left: 2%;
    padding: 8px 12px;
    border: none;
    background: none;
    border-radius: 50px;
    font-weight: bold;
    color: #675A4F;
    font-size: 2rem;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* button.end-btn {
    border-radius: 25px;
    background: transparent;
    border: 2px solid #521751;
    padding: 0.5rem 1rem;
    color: #521751;
    cursor: pointer;
    top: 5.5%;
    left: 65%;
    position: absolute;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
   
button.end-btn:hover,
button.end-btn:active {
    border-color: #e0ceeb;
    color: #521751;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  */


/* img links */
/* <img class="pusheen-eat" src="https://i.ibb.co/8YBWy0M/pusheen-eat-html.png" alt="pusheen-eat-html" border="0">
<img class="pusheen-exercise" src="https://i.ibb.co/d2y7vSq/pusheen-exercise-html.png" alt="pusheen-exercise-html" border="0">
<img class="pusheen-love" src="https://i.ibb.co/47H8bBM/pusheen-love-html.png" alt="pusheen-love-html" border="0">
<img class="pusheen-play" src="https://i.ibb.co/98vp6ns/pusheen-play-html.png" alt="pusheen-play-html" border="0">            
<img class="pusheen-sleep" src="https://i.ibb.co/KNSsgpT/pusheen-sleep-html.png" alt="pusheen-sleep-html" border="0">
<img class="pusheen-sunglasses" src="https://i.ibb.co/D8wx7dq/pusheen-sunglasses-html.png" alt="pusheen-sunglasses-html" border="0">
<img class="pusheen-ramen" src="https://i.ibb.co/K0Vb53Z/pusheen-ramen-html.png" alt="pusheen-ramen-html" border="0">
<img class="pusheen-heart" src="https://i.ibb.co/PxhZGVf/pusheen-heart-html.png" alt="pusheen-heart-html" border="0"> 
<img class="pusheen-sad" src="https://i.ibb.co/r4DTGff/sad-pusheen.png" alt="sad-pusheen" border="0">