* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FAEBD0;
    overflow: hidden;
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    min-width: fit-content;
    position: relative;
    z-index: 1;
}

.logo-pusheen {
    height: 30px;
    width: 50px;
    position: relative;
}

#food {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    color: #675A4F;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 15%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
}
#food:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}


#sleep {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 43%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
    color: #675A4F;
}
#sleep:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}

#play {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    box-shadow: inset 200px 0 0 0 #E8F5F9;
    transition: ease-out 0.3s;
    color: #675A4F;
}
#play:hover{
    box-shadow: inset 200px 0 0 0 #C9E8F0;
    cursor: pointer;
    color: #675a4f; 
}

.logo h2 {
        font-size: 20px;
        margin: 0.35em 3em;
        position: absolute;
        justify-content: center;
        color: #675A4F;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #blurb h1 {
    align-items: center;
    width: 70%;
    font-size: 45px;
    text-align: left;
    margin: 1em;
    padding-top: 0.5em;
    float: left;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.food-level {
    margin: 0
}
span {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 35px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#food-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sleep-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#play-score {
    align-items: center;
    display: inline-block;
    width: 45%;
    font-size: 55px;
    text-align: right;
    margin: 1em 6em 1em 18em;
    color: #675A4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resume {
    width: 75px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    position: absolute;
    top: 5%;
    left: 87%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    color: #B9A492;
    transition: ease-out 0.3s;
    z-index: 1;
}
#resume:hover {
    color:#675A4F;
    box-shadow: inset 75px 0 0 0 #C9E8F0;
    cursor: pointer;
}
#resume:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
}
#resume:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
}

#pause {
    width: 75px;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #C9E8F0;
    position: absolute;
    top: 5%;
    left: 93%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
    transition: 0.25px;
    cursor: pointer;
    color: #B9A492;
}
#pause:hover {
    color:#675A4F;
    box-shadow: inset 75px 0 0 0 #C9E8F0;
    cursor: pointer;
}
#pause:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
}
#pause:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    z-index: -1;
}

/* img links */
/* <img class="pusheen-eat" src="https://i.ibb.co/8YBWy0M/pusheen-eat-html.png" alt="pusheen-eat-html" border="0"></a><br />
<img class="pusheen-exercise" src="https://i.ibb.co/d2y7vSq/pusheen-exercise-html.png" alt="pusheen-exercise-html" border="0"></a>
<img class="pusheen-love" src="https://i.ibb.co/47H8bBM/pusheen-love-html.png" alt="pusheen-love-html" border="0"></a>
<img class="pusheen-play" src="https://i.ibb.co/98vp6ns/pusheen-play-html.png" alt="pusheen-play-html" border="0"></a>            
<img class="pusheen-sleep" src="https://i.ibb.co/KNSsgpT/pusheen-sleep-html.png" alt="pusheen-sleep-html" border="0"></a>
<img class="pusheen-sunglasses" src="https://i.ibb.co/D8wx7dq/pusheen-sunglasses-html.png" alt="pusheen-sunglasses-html" border="0"></a>
<img class="pusheen-ramen" src="https://i.ibb.co/K0Vb53Z/pusheen-ramen-html.png" alt="pusheen-ramen-html" border="0"></a>
<img class="pusheen-heart" src="https://i.ibb.co/PxhZGVf/pusheen-heart-html.png" alt="pusheen-heart-html" border="0"></a> */
